.parttimejob-info {
    border: solid 1px gray;
    padding: 5px;
    padding-bottom:0;
}
.item-name {
    padding-left: 5px;
    padding-right:0;
/*    width: 137px;*/
	height:35px;
    font-size:16pt;
    display: table-cell;
    vertical-align: middle;
    padding-top:3px;
}
.item {
    margin-bottom: 5px;    
    padding-left: 0;
    padding-right: 0;
}
.cb-name{
	padding-left:0;
	padding-right:0;
	height:35px;
	width:100px;
}
.huri-name{
	width:100px;
	height:30px;
	padding-left:5px;;
	padding-top:5px;
}
.date-info{
	padding-left:0;
}
.date{
	height:30px;
}
.table-margin{
	margin:0 auto;
}
.body-height{
	height:40px;
}
.button-info{
	height:50px;
	width:120px;
}
.make-date{
	width:100px;
}
.author{
	width:250px;
}
.huri-date{
	width:130px;
}
.output{
	width:100px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    border: 1px solid #666;
}
thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    height: 400px;
}
.navbar-brand {
  background: url("../img/eiken_logo2.png") no-repeat left center;
  background-size: contain;
  height: 47px;
  width: 206px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #d42020;
}
.navbar-default .navbar-brand {
  color: #989898;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffdfe6;
}
.navbar-default .navbar-text {
  color: #989898;
}
.navbar-default .navbar-nav > li > a {
  color: #989898;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffdfe6;
  background-color: #d42020;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffdfe6;
  background-color: #d42020;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffdfe6;
  background-color: #d42020;
}
.navbar-default .navbar-toggle {
  border-color: #d42020;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d42020;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #989898;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #989898;
}
.navbar-default .navbar-link {
  color: #989898;
}
.navbar-default .navbar-link:hover {
  color: #ffdfe6;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #989898;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffdfe6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffdfe6;
    background-color: #d42020;
  }
}
